{% extends 'base.html' %}
{% block content%}
<div class="home">
    <h1>WELCOME TO SIMULTANEOUS EQUATION SOLVER</h1>
    <h2>CHOOSE THE TYPE OF EQUATION YOU WANT TO SOLVE</h2>
    <span><button><a href="/2">2x2</a></button>
    <button><a href="/3">3x3</a></button></span>
    <h3>Instruction</h3>
    <p>x1 = x coefficient of the first equation</p>
    <p>y1 = y coefficient of the first equation</p>
    <p>z1 = z coefficient of the first equation</p>
    <p>t1 = total value of the first equation</p>
    <p>x2 = x coefficient of the second equation</p>
    <p>y2 = y coefficient of the second equation</p>
    <p>z2 = z coefficient of the second equation</p>
    <p>t2 = total value of the second equation</p>
    <p>x3 = x coefficient of the third equation</p>
    <p>y3 = y coefficient of the third equation</p>
    <p>z3 = z coefficient of the third equation</p>
    <p>t3 = total value of the third equation</p>
</div>
{% endblock %}